body {
  background-color: #faf1e6;
}
hr {
  /*background-color: white;*/
  border-style: none;
  border-top-style: dotted;
  border-color: gray;
  border-width: 5px;
  /*border-style: dotted none none;*/
  /*height: 2px;*/
  width: 5%;
}

h1 {
  color: #ff7171;
}

h3 {
  color: #cd5d7d;
}

th {
  color: purple;
}

.bg-white {
  background-color: white;
}

.bg-red {
  background-color: red;
}

#bg-green {
  background-color: black;
}

.center {
  text-align: center;
}

.classtext {
  text-align: justify;
}
